<!DOCTYPE html>
<html>
  <head>
    <title>ZalegoInterview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="nav">
    <% if user_signed_in? %>
      <%= link_to 'profile', user_path(current_user)  %>
      <%= link_to 'logout', destroy_user_session_path, :method => :delete %>
    <% end %>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
